@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(91, 32, 150, 0.5), transparent);
  animation: ripple 1s ease-out forwards; /* forwardsでアニメーション終了後に状態を保持 */
  pointer-events: none;
  transform: translate(-50%, -50%); /* 中央揃えのための調整 */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
  color: #ffffff;
}

.outer-gradient {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    rgb(153, 184, 255),
    rgba(115, 115, 255, 1),
    rgba(102, 38, 153, 1),
    rgb(95, 13, 133),
    rgba(255, 38, 38, 1),
    rgb(199, 42, 76)
  );
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.1s ease;
}

.outer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #000000;
}

.inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  box-sizing: border-box;
  transition: border 0.1s ease;
}

.inner-circle.recording {
  border-color: #dc3545;
}

.center-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: border-radius 0.1s ease, background-color 0.1s ease;
}

.center-button.recording {
  border-radius: 20px;
  background-color: #dc3545;
}

.audio-player {
  margin-top: 20px;
  width: 300px;
}

.error-box {
  margin-top: 20px;
  color: #ff0000;
  font-size: 18px;
  width: 80%;
  max-width: 600px;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  word-wrap: break-word;
}